/*******************************************
* Page structure
*******************************************/

#emulator {
	/* Styling */
	width: 950px;
	height: 570px;
	margin: auto auto;
	padding-bottom: 8px;

	background-color: #EEE;
	border: 1px solid black;

	/* flexbox setup */
	display: -webkit-box;
	-webkit-box-orient: horizontal;

	display: -moz-box;
	-moz-box-orient: horizontal;

	display: box;
	box-orient: horizontal;
}

#emulator > div {
	/* Styling */
	height: inherit;
	margin: 4px;
	
	/* flexbox setup */
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;	
}

.col {
	/* flexbox setup */
	display: -webkit-box;
	-webkit-box-orient: vertical;

	display: -moz-box;
	-moz-box-orient: vertical;

	display: box;
	box-orient: vertical;
}

.col > div {
	/* Styling */
	overflow: auto;
	width: inherit;

	/* flexbox setup */
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;	
}

#register_block {
	/* Styling */
	background-color: #E01B3C;
}

#program_editor {
	/* Styling */
	margin-top: 8px;

	background: #29D649;


	/* flexbox setup */
	display: -webkit-box;
	-webkit-box-orient: vertical;

	display: -moz-box;
	-moz-box-orient: vertical;

	display: box;
	box-orient: vertical;	
}

div#program_editor {
	/* flexbox setup */
	-webkit-box-flex: 3;
	-moz-box-flex: 3;
	box-flex: 3;
}

#memory_block {
	/* Styling */
	overflow: visible;
	width: 100%;
	height: 300px;
}

/*******************************************
* 
* e-mu Display Object CSS
*
*******************************************/

/*******************************************
* Controls
*******************************************/
#control_block {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#control_block menu ul {
	/* Styling */
	list-style-type: none;
}

#control_block menu li {
	/* Styling */
	display: inline-block;
	width: 50px;
	height: 20px;
	margin: 3px;
	padding: 5px;
	
	background: black;

	cursor: pointer;

	color: white;
	font-size: 1.2em;
	text-align: center;
}

#control_block menu li#speed {
	/* Styling */
	width: 4em;
}

#control_block menu li#speed input {
	/* Styling */
	width: 3em;
	margin: 0px;
	padding: 0px;
}

/*******************************************
* Program Editor
*******************************************/

#program_editor {
	/* Styling */
	overflow: hidden;

	padding:2px;
}

#program_editor > .ui-tabs-nav {
	/* Styling */
	height: 8%;
}

#program_editor > .tab {
	/* Styling */
	width: 100%;
	height: 92%;
	
	padding: 0px;
}

#program_editor #assemble,
#program_editor #assemble_load,
#program_editor #load {
	background: #29D649;
}

#program_editor #program_listing {
	font-size: 11px;
}



/*******************************************
* Register Display
*******************************************/

#register_display {
	/* Styling */
	padding: 3px;
}

.register {
	/* Styling */
	margin: 2px;
	
	background-color: #EEE;
	border: 1px solid black;
		
	/* flexbox setup */
	display: -webkit-box;
	-webkit-box-orient: horizontal;

	display: -moz-box;
	-moz-box-orient: horizontal;

	display: box;
	box-orient: horizontal;	
}

.register > .register_name {
	/* Styling */
	display: block;
	width: 40px;
	padding-left: 3px;

	color: #EEE;
	
	background-color: #111;
}

.register > .bit_box {
	/* Styling */
	margin: 0px;
	padding: 3px;
	
	text-align: center;
	font-size: 1.1em;
	font-family: monospace;

	border: none;
	border-right: 1px solid black;
	
	/* flexbox setup */
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;			
}

.register > .bit_box:nth-of-type(4n + 1) {
	/* Styling */
	border-left: 3px solid black;
	padding-left: 0px;
}

.register > .bit_box:nth-of-type(0) {
	padding: 3px;
	border: none;	
}



/*******************************************
* Labels
*******************************************/

.memory_unit > .label {
	/* Styling */
	min-width: 20px;
	margin: 0px 3px;
	
	background: black;
	
	color: white;
	text-align: center;
}

/*******************************************
* Memory Display
*******************************************/

#memory_display {
	/* Styling */
	overflow: visible;
	width: 100%;
	height: inherit;

	/* flexbox setup */
	display: -webkit-box;
	-webkit-box-orient: horizontal;

	display: -moz-box;
	-moz-box-orient: horizontal;

	display: box;
	box-orient: horizontal;
}

#memory_scrollbar {
	/* Styling */
	position: relative;
	overflow: visible;
	width: 42px;
	height: inherit;
	padding-right: 6px;
}

#memory_scrollbar > * {
	/* Styling */
	width: 100%;
}

#memory_scrollbar > input {
	/* Styling */
	width: 65%;
	margin: 6px 1px;
	
	font-size: 11px;
}

#memory_slider {
	/* Styling */
	height: 100%;
}

/*******************************************
* Memory Units
*******************************************/

#memory_units {
	/* Styling */
	overflow: auto;
	height: 100%;
	
	/* flexbox setup */
	-webkit-box-flex: 10;
	-moz-box-flex: 10;
	box-flex: 10;

	/* flexbox setup */
	display: -webkit-box;
	-webkit-box-orient: vertical;

	display: -moz-box;
	-moz-box-orient: vertical;

	display: box;
	box-orient: vertical;
}

.memory_unit {
	/* Styling */
	display: block;
	overflow: hidden;
	width: inherit;
	min-height: 1.3em;
	padding: 0px;
	
	font-size: 1.1em;
	
	background-color: #EEE;
	border: 1px solid black;

	/* flexbox setup */
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}

.memory_unit > span {
	/* Styling */
	display: inline-block;
	height: 100%;
	margin: 0px;
	padding: 3px;

	font-family: monospace;
}

.memory_unit > .address {
	/* Styling */
	width: 4em;
	
	color: #EEE;

	background-color: #3D80D9;		
}

.memory_unit_set > .address {
	background-color: #E01B3C;
}

.memory_unit > .value {
	width: 3em;
	padding-left: 10px;
}

.memory_unit > .hex_value {
	width: 4em;
	padding-left: 10px;
	background: rgb(200, 200, 200);
}

/*******************************************
* Memory Display Scrollbar Highlighting
*******************************************/

#memory_scrollbar {
	/* Styling */
	z-index: 0;
	height: 80%;
	background: #E4EEF0;
}

#memory_slider .ui-slider-range,
#memory_slider .ui-slider-handle {
	/* Styling */
	z-index: 100;
}

.scrollbar_highlight {
	/* Styling */
	display: block;
	position: absolute;
	width: 100%;
}

.data.scrollbar_highlight {
	/* Styling */
	z-index: 3;
	width: 50%;
	margin-left: 50%;
	
	background-color: #E01B3C;
}

.memory_map.scrollbar_highlight {
	/* Styling */
	z-index: 1;
	min-height: 5px;
}

.memory_map.scrollbar_highlight:hover {
	/* Styling */
	z-index: 2;
	border: solid 1px #DDD;
}

.memory_map.scrollbar_highlight:nth-of-type(8n+1) { background-color: #95E67E; }
.memory_map.scrollbar_highlight:nth-of-type(8n+2) { background-color: #A4B5ED; }
.memory_map.scrollbar_highlight:nth-of-type(8n+3) { background-color: #E2E67E; }
.memory_map.scrollbar_highlight:nth-of-type(8n+4) { background-color: #69A859; }
.memory_map.scrollbar_highlight:nth-of-type(8n+5) { background-color: #E6917E; }
.memory_map.scrollbar_highlight:nth-of-type(8n+6) { background-color: #DEA12F; }
.memory_map.scrollbar_highlight:nth-of-type(8n+7) { background-color: #C34EED; }
.memory_map.scrollbar_highlight:nth-of-type(8n+0) { background-color: #62D9BD; }


