/*******************************************
* Page structure
*******************************************/

#emulator {
	/* Styling */
	width: 800px;
	height: 600px;
	margin: auto auto;
	padding-bottom: 8px;

	background-color: #EEE;
	border: 1px solid black;

	/* flexbox setup */
	display: -webkit-box;
	-webkit-box-orient: horizontal;

	display: -moz-box;
	-moz-box-orient: horizontal;

	display: box;
	box-orient: horizontal;
}

#emulator > div {
	/* Styling */
	height: inherit;
	margin: 4px;
	
	/* flexbox setup */
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;	
}

#left_col {
	/* flexbox setup */
	display: -webkit-box;
	-webkit-box-orient: vertical;

	display: -moz-box;
	-moz-box-orient: vertical;

	display: box;
	box-orient: vertical;
}

#left_col > div {
	/* Styling */
	overflow: auto;
	width: inherit;

	/* flexbox setup */
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;	
}


#register_block {
	/* Styling */
	background-color: #E01B3C;
}

#program_editor {
	/* Styling */
	max-width: 470px;
	margin-top: 8px;

	background: #29D649;


	/* flexbox setup */
	display: -webkit-box;
	-webkit-box-orient: vertical;

	display: -moz-box;
	-moz-box-orient: vertical;

	display: box;
	box-orient: vertical;	
}

div#program_editor {
	/* flexbox setup */
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	box-flex: 2;
}

#memory_block {
	/* Styling */
	width: 100%;
	min-width:300px;
	height: 100%;
	
	background-color: #3D80D9;
}

/*******************************************
* 
* e-mu Display Object CSS
*
*******************************************/

/*******************************************
* Program Editor
*******************************************/
#program_editor > .tab {
	/* Styling */
	height: 100%;

	/* flexbox setup */
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}

#program_editor > .tab > textarea {
	/* Styling */
	width: 100%;
	max-width: 100%;
	height: 200px;
	max-height: 100%;
}


/*******************************************
* Register Display
*******************************************/

#register_display {
	/* Styling */
	padding: 3px;
}

.register {
	/* Styling */
	margin: 2px;
	
	background-color: #EEE;
	border: 1px solid black;
		
	/* flexbox setup */
	display: -webkit-box;
	-webkit-box-orient: horizontal;

	display: -moz-box;
	-moz-box-orient: horizontal;

	display: box;
	box-orient: horizontal;	
}

.register > .register_name {
	/* Styling */
	display: block;
	width: 40px;
	padding-left: 3px;

	color: #EEE;
	
	background-color: #111;
}

.register > .bit_box {
	/* Styling */
	padding: 2px;
	
	text-align: center;
	font-size: 1.1em;
	font-family: monospace;

	border-left: 1px solid black;

	/* flexbox setup */
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;			
}



/*******************************************
* Memory Display
*******************************************/

#memory_display {
	/* Styling */
	height: inherit;

	/* flexbox setup */
	display: -webkit-box;
	-webkit-box-orient: horizontal;

	display: -moz-box;
	-moz-box-orient: horizontal;

	display: box;
	box-orient: horizontal;
}

#memory_scrollbar {
	/* Styling */
	position: relative;
	width: 42px;
	height: inherit;

	/* flexbox setup */
	/*-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;*/
}

/*******************************************
* Memory Units
*******************************************/

#memory_units {
	/* Styling */
	overflow: auto;
	
	/* flexbox setup */
	-webkit-box-flex: 10;
	-moz-box-flex: 10;
	box-flex: 10;

	/* flexbox setup */
	display: -webkit-box;
	-webkit-box-orient: vertical;

	display: -moz-box;
	-moz-box-orient: vertical;

	display: box;
	box-orient: vertical;
}

.memory_unit {
	/* Styling */
	display: block;
	overflow: hidden;
	width: inherit;
	min-height: 1.3em;
	padding: 0px;
	
	font-size: 1.1em;
	
	background-color: #EEE;
	border: 1px solid black;

	/* flexbox setup */
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}

.memory_unit > span {
	/* Styling */
	display: inline-block;
	height: 100%;
	margin: 0px;
	padding: 3px;

	font-family: monospace;
}

.memory_unit > .address {
	/* Styling */
	width: 4em;	
	
	color: #EEE;

	background-color: #3D80D9;		
}

.memory_unit_set > .address {
	background-color: #E01B3C;
}

.memory_unit > .value {
	width: 4em;
	padding-left: 10px;
}

/*******************************************
* Memory Display Scrollbar Highlighting
*******************************************/

#memory_scrollbar {
	/* Styling */
	background: #3D80D9;
}

.scrollbar_highlight {
	/* Styling */
	display: block;
	position: absolute;
	width: 100%;
}

.data.scrollbar_highlight {
	/* Styling */
	background-color: #E01B3C;
}
