.editor {
	height: 100%;
	width: 100%;
	cursor: text;
}

.memory-display {
	position: fixed;
	top: 0;
	right: 0;

	width: 200px;
	height: 100%;

	background: gray;
}

.memory-display .memory-list {
	list-style-type: none;
}
